a:active,
a:hover {
  outline: 0;
  text-decoration:none;
}

@-webkit-viewport { width: device-width; }
@-moz-viewport { width: device-width; }
@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }


/* ------------------------------------------
  RESPONSIVE NAV STYLES
--------------------------------------------- */

.blue img {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-decoration: none;
  width: 5%;
  height: 5%;
  line-height: 15%;
  margin-left: 7%;
  margin-top: 0.5%;
  float: left;
}
/*Menu e efeitos*/
.menu-item {
  transition: 0.3s ease;
  color: #fff;
  text-decoration: none;
  padding: 12px 0;
  
}
.menu-item:hover {
    border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0;
}

.menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  list-style: none;
}

.clear {
    margin-top: 8%;
}

.menu li {
  width: 100%;
  display: block;
  text-decoration:none;
}

.js .menu {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.menu.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (min-width: 40em) {
  .js .menu {
    position: relative;
  }
  .js .menu.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}


/* ------------------------------------------
  DEMO STYLES
--------------------------------------------- */

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  color: #37302a;
  background: #fff;
  font: normal 100%/1.4 sans-serif;
}

section {
  border-bottom: 1px solid #999;
  text-align: center;
  padding: 100px 0 0;
  height: 800px;
  width: 100%;
}

h1 {
  margin-bottom: .5em;
}

p {
  width: 90%;
  margin: 0 auto;
}


/* ------------------------------------------
  FIXED HEADER
--------------------------------------------- */

header {
  background: #00004d;
  position: fixed;
  z-index: 3;
  width: 100%;
  left: 0;
  top: 0;

}




/* ------------------------------------------
  MASK
--------------------------------------------- */

.mask {
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  background: rgba(0,0,0, .5);
  visibility: hidden;
  position: fixed;
  opacity: 0;
  z-index: 2;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.android .mask {
  -webkit-transition: none;
  transition: none;
}

.js-nav-active .mask {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 40em) {
  .mask {
    display: none !important;
    opacity: 0 !important;
  }
}


/* ------------------------------------------
  NAVIGATION STYLES
--------------------------------------------- */

.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.menu,
.menu * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.menu,
.menu ul {
  list-style: none;
  width: 100%;
  float: left;
}

@media screen and (min-width: 40em) {
  .menu {
    float: right;
    width: auto;
  }
}

.menu li {
  float: left;
  width: 100%;
}

@media screen and (min-width: 40em) {
  .menu li {
    width: auto;
  }
}

.menu a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
 /* border-top: 1px solid white;*/
  text-decoration: none;
  background: #1f3287;
 /* padding: 0.7em 1em;*/
  color: #fff;
  width: 100%;
  height: 100%;
  float: left;
}

.menu a:hover,
.menu .hover a{
    text-decoration:none;
    color:#fff;
}

.menu a:active,
.menu .active a {
  background: #485baf;
 }

@media screen and (min-width: 40em) {
  .menu a {
    border-left: 1px solid white;
    padding: 1.02em 2em;
    text-align: center;
    border-top: 0;
    float: left;
    margin: 0;
    text-decoration:none;
    color: white;
  }
}

.menu ul ul a {
  background: #1f3287;
  padding-left: 2em;

}

@media screen and (min-width: 40em) {
  .menu ul ul a {
    display: none;
  }
}


/* ------------------------------------------
  NAV TOGGLE STYLES
--------------------------------------------- */

@font-face {
  font-family: "responsivenav";
  src:url("../icons/responsivenav.eot");
  src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
    url("../icons/responsivenav.ttf") format("truetype"),
    url("../icons/responsivenav.woff") format("woff"),
    url("../icons/responsivenav.svg#responsivenav") format("svg");
  font-weight: normal;
  font-style: normal;
}

.nav-toggle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  text-indent: -300px;
  position: relative;
  overflow: hidden;
  width: 60px;
  height: 55px;
  float: right;
}

.nav-toggle:before {
  color: #fff; /* Cor do item menu */
  font: normal 28px/55px "responsivenav"; /* Edit font-size (28px) to change the icon size */
  text-transform: none;
  text-align: center;
  position: absolute;
  content: "\2261"; /* Hamburger icon */
  text-indent: 0;
  speak: none;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-toggle.active:before {
  font-size: 24px;
  content: "\78"; /* Close icon */
}
